venv/

.idea/
.vscode/

artifacts/
checkpoints/
dataset/
logs/
models/
results/
vast/

temp/
tmp/

__pycache__/
.cache/
hf_cache/
.huggingface/
.ipynb_checkpoints/
.mypy_cache/
.pytest_cache/

notebook.py
inference.py

*.ckpt
*.csv
*.db
.env
.env.*
*.h5
*.ipynb
*jpg
*.json
*.log
*.npy
*.npz
*.onnx
*.pt
*.pth
*.sqlite3
*.tmp
*.sh

.DS_Store
Thumbs.db
